svg {
    border: 3px solid;
    margin: 10px;
    color: rgb(242, 236, 248) ;
}

.str0 {
    stroke:rgb(115, 248, 192);
    stroke-width:76.36;
    stroke-miterlimit:22.9256;
}

.fil0 {
    fill:#eeeeee;
}

circle:hover {
    fill: rgb(233, 222, 159);
}

polygon:hover {
fill: rgb(85, 131, 67);
cursor: pointer;
} */

.inner-text {
    font-size: 0.4em;
    line-height: 1;
    transform: translateY(0.8em);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.loader {
    transition: stroke-dasharray 2s linear;
    cursor: pointer;
}
    .loader:hover {
    stroke-dasharray: 60 40;
    }